<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Characters</title>
</head>
<body>
    
    <h1> Characters' list </h1>
    
    <% characters.forEach(function (character) { %>
        
        <div>
            <h2 > <%= character.name %> </h2>
            <img src="<%= character.imageUrl %>">
            <p> <%= character.tvShows %>  </p>
            <p> <%= character.videoGames %>  </p>
        </div>
    <% }); %> 
    
</body>
</html>